/*---------------------------------------
#. Header Home
---------------------------------------*/

/* BEM Element and Modifier */
.geex-header-home {
    display: none;
    padding: 20px 0 30px;
  }
  
  .geex-header-home__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 22px;
    align-items: center;
  }
  
  .geex-header-home__menu-wrapper:first-of-type {
    flex: 1;
    justify-content: flex-start;
  }
  
  .geex-header-home__menu-wrapper:last-of-type {
    flex: 1;
    justify-content: flex-end;
    display: flex;
    justify-content: flex-end;
  }
  
  .geex-header-home__menu {
    display: flex;
    gap: 30px;
  }
  
  .geex-header-home__menu__item {
    position: relative;
  }
  
  .geex-header-home__menu__item a {
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--primary-color);
    padding: 10px 15px;
    transition: all 0.3s ease;
  }
  
  .geex-header-home__submenu__item a {
    display: flex;
    gap: 5px;
    align-items: center;
    color: var(--white-color);
    padding: 10px 15px;
    transition: all 0.3s ease;
  }
  
  .geex-header-home__menu__item a svg {
    width: 15px; 
    height: 15px; 
  }
  
  .geex-header-home__menu__item a svg path {
    fill: currentColor; 
    transition: all 0.3s ease;
  }
  
  .geex-header-home__menu__item:hover .geex-header-home__submenu {
    height: auto;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .geex-header-home__submenu {
    position: absolute;
    inset-inline-start: 0;
    top: 100%;
    width: 100%;
    min-width: 200px;
    padding: 15px 0;
    background-color: var(--primary-color);
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    z-index: 1;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: transform 0.3s ease;
  }
  
  .geex-header-home__submenu .geex-header-home__menu__link {
    width: 100%;
    padding: 10px 25px;
  }
  
  .geex-header-home__submenu .geex-header-home__menu__link.active {
    color: var(--primary-color);
  }
  
  .geex-header-home__menu__item a[href="signup"] {
    display: inline-block;
    padding: 10px 20px;
    color: var(--primary-color); 
    background-color: var(--section-color); 
    border: 1px solid var(--primary-color); 
    border-radius: 20px; 
    text-decoration: none;
    transition: background-color 0.3s ease, border-color 0.3s ease; 
  }
  
  .geex-header-home__menu__item a[href="signup"]:hover {
    color: var(--white-color); 
    background-color: var(--primary-color); 
    border: 1px solid var(--primary-color); 
  }
  
  .geex-header-home h1 {
    font-size: 2em; 
    font-weight: bold; 
    background: linear-gradient(to right, orange, rgb(220, 220, 37), green, rgb(33, 141, 249), rgb(96, 13, 155), violet); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text; 
    margin: 0; 
  }
  
  html[data-nav="top"] .geex-header-home {
    display: block;
  }
  

  
  html[data-nav="top"] .geex-sidebar-home {
    display: none;
  }
  
  @media only screen and (max-width: 1199px) {
    html[data-nav="top"] .geex-header-home {
      display: none;
    }

    html[data-nav="top"] .geex-sidebar-home {
      display: block;
    }
  }
  