{% extends 'partial/base-2.html' %}

{% block content %}
<div class="geex-content__authentication">
    <div class="geex-content__authentication__content">
        <div class="geex-content__authentication__content__wrapper">
            <div class="geex-content__authentication__content__logo">
                <h1>FELiN</h1>
            </div>
            <!-- Signup Form -->
            <form id="signInForm" class="geex-content__authentication__form" novalidate>
                <h2 class="geex-content__authentication__title">Συνδέσου ή δημιούργησε ένα λογαριασμό FELiN</h2>
                <div class="geex-content__authentication__form-social">
                    <button type="button" class="geex-content__authentication__form-social__single" id="googleSignInButton">
                        <img src="{{ url_for('static', filename='img/icon/google.svg') }}" alt="">Google
                    </button>
                    <button type="button"  class="geex-content__authentication__form-social__single" id="facebookSignInButton">
                        <svg 
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M 19.253906 2 C 15.311906 2 13 4.0821719 13 8.8261719 L 13 13 L 8 13 L 8 18 L 13 18 L 13 30 L 18 30 L 18 18 L 22 18 L 23 13 L 18 13 L 18 9.671875 C 18 7.884875 18.582766 7 20.259766 7 L 23 7 L 23 2.2050781 C 22.526 2.1410781 21.144906 2 19.253906 2 z"/>
                        </svg>
                        Facebook
                    </button>
                    <a href="#" class="geex-content__authentication__form-social__single">
                        <svg width="15" height="19" viewBox="0 0 15 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10.9133 0H11.0427C11.1465 1.2826 10.6569 2.24096 10.062 2.93497C9.47815 3.62419 8.67872 4.29264 7.38574 4.19122C7.29949 2.92698 7.78985 2.0397 8.38403 1.34729C8.93508 0.701997 9.94535 0.127781 10.9133 0ZM14.8274 13.3499V13.3859C14.464 14.4864 13.9457 15.4296 13.3132 16.3048C12.7358 17.0995 12.0282 18.1689 10.7647 18.1689C9.67302 18.1689 8.94786 17.4669 7.82898 17.4477C6.64541 17.4285 5.99452 18.0347 4.91238 18.1872H4.54341C3.74877 18.0722 3.10747 17.4429 2.64027 16.8759C1.26264 15.2003 0.19806 13.0361 0 10.2664V9.4526C0.0838563 7.47039 1.04701 5.85876 2.32721 5.0777C3.00285 4.66241 3.93166 4.30861 4.96589 4.46674C5.40913 4.53543 5.86195 4.68717 6.25887 4.83731C6.63503 4.98186 7.10542 5.23822 7.55106 5.22464C7.85294 5.21586 8.15322 5.05853 8.4575 4.94752C9.34877 4.62567 10.2225 4.2567 11.3741 4.43001C12.7581 4.63925 13.7404 5.25419 14.3474 6.20297C13.1766 6.94809 12.251 8.07096 12.4091 9.98848C12.5497 11.7303 13.5624 12.7493 14.8274 13.3499Z"
                                fill="black" />
                        </svg>
                        Apple
                    </a>
                </div>
                <span class="geex-content__authentication__form-separator">Or</span>
                <div class="geex-content__authentication__form-group">
                    <label for="emailSignIn">Your Email</label>
                    <input type="email" id="emailSignIn" name="emailSignIn" placeholder="Enter Your Email" required>
                    <i class="uil-envelope"></i>
                    <div id="emailError" class="error-message"></div>
                </div>
                <div class="geex-content__authentication__form-group">
                    <label for="loginPassword">Password</label>
                    <div class="password-wrapper">
                        <input type="password" id="loginPassword" name="password" placeholder="Password" required>
                        <i class="uil-eye toggle-password-type" data-target="loginPassword"></i>
                    </div>
                </div>
                <div class="geex-content__authentication__form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <div class="password-wrapper">
                        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
                        <i class="uil-eye toggle-password-type" data-target="confirmPassword"></i>
                    </div>
                    <div id="passwordMismatchMessage" class="error-message"></div>
                </div>                
                <!-- Display flash messages (if any) -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div class="flash-messages">
                            {% for category, message in messages %}
                                <div class="flash-message {{ category }}">{{ message }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <div class="geex-content__authentication__form-group custom-checkbox">
                    <input type="checkbox" class="geex-content__authentication__checkbox-input" id="agreeTerms">
                    <label class="geex-content__authentication__checkbox-label" for="agreeTerms">By creating an account
                        you agree to Our <a href="#">terms & conditions Privacy Policy</a></label>
                </div>
                <div id="termsError" class="error-message"></div>
                <button type="submit" class="geex-content__authentication__form-submit" disabled>Sign Up</button>
                <div class="geex-content__authentication__form-footer">
                    Already have an account? <a href="{{ url_for('signin') }}">Sign In</a>
                </div>
            </form>
        </div>
    </div>
    <div class="geex-content__authentication__img">
        <img src="{{ url_for('static', filename='img/gifs/felin-gif.gif') }}" alt="">
    </div>
</div>

<!-- Include Firebase SDKs -->
<script src="https://www.gstatic.com/firebasejs/9.22.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.22.0/firebase-auth.js"></script>

<!-- Include Firebase configuration and main script -->
<script src="{{ url_for('static', filename='js/firebase-config.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/auth-signup.js') }}" type="module"></script>


{% endblock %}

