<footer class="geex-footer">
    <div class="geex-footer__content">
        <div class="geex-footer__section">
            <h3 class="geex-footer__title">Follow us</h3>
            <ul class="geex-footer__list">
                <li class="geex-footer__item"><a href="#" class="geex-footer__link">Instagram</a></li>
                <li class="geex-footer__item"><a href="#" class="geex-footer__link">Facebook</a></li>
                <li class="geex-footer__item"><a href="#" class="geex-footer__link">X</a></li>
            </ul>
        </div>
        <div class="geex-footer__section">
            <h3 class="geex-footer__title">Products</h3>
            <ul class="geex-footer__list">
                <li class="geex-footer__item"><a href="#" class="geex-footer__link">Product1</a></li>
            </ul>
        </div>
        <div class="geex-footer__section">
            <h3 class="geex-footer__title">Company</h3>
            <ul class="geex-footer__list">
                <li class="geex-footer__item"><a href="#" class="geex-footer__link">About us</a></li>
            </ul>
        </div>
    </div>
</footer>