<body>
    <header class="geex-header-home">
        <div class="geex-header-home__wrapper">
            <!-- <nav class="geex-header-home__menu-wrapper">
                <ul class="geex-header-home__menu">
                    <li class="geex-header-home__menu__item has-children">
                        <a href="#" class="geex-header-home__menu__link">						
                            <span>Product</span>
                            <svg class="icon" width="800px" height="800px" viewBox="0 0 1024 1024" class="icon"  version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M903.232 256l56.768 50.432L512 768 64 306.432 120.768 256 512 659.072z" fill="#000000" /></svg>
                        </a>  
                        <ul class="geex-header-home__submenu">
                            <li class="geex-header-home__submenu__item">
                                <a href="index" class="geex-header-home__menu__link">Campaigns</a>
                            </li>
                            <li class="geex-header-home__submenu__item">
                                <a href="index-2" class="geex-header-home__menu__link">Ads</a>
                            </li>
                        </ul>
                    </li>
                    <li class="geex-header-home__menu__item has-children">
                        <a href="#" class="geex-header-home__menu__link">					
                            <span>Pricing</span>
                            <svg class="icon" width="800px" height="800px" viewBox="0 0 1024 1024" class="icon"  version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M903.232 256l56.768 50.432L512 768 64 306.432 120.768 256 512 659.072z" fill="#000000" /></svg>
                        </a>  
                        <ul class="geex-header-home__submenu">
                            <li class="geex-header-home__submenu__item">
                                <a href="pricing" class="geex-header-home__menu__link geex-customizer-home__btn--top">Plans</a>
                            </li>
                            <li class="geex-header-home__submenu__item">
                                <a href="faq" class="geex-header-home__menu__link">Faq</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <h1>FELiN</h1> -->
            <nav class="geex-header-home__menu-wrapper">
                <ul class="geex-header-home__menu">
                    <li class="geex-header-home__menu__item">
                        <a href="signin" class="geex-header-home__menu__link">						
                            <span>Login</span>
                        </a>  
                    </li>
                    <li class="geex-header-home__menu__item">
                        <a href="signup" class="geex-header-home__menu__link">						
                            <span>Get Started</span>
                        </a>  
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>
