<!-- inject:css-->
<link rel="stylesheet" href="{{ url_for ('static', filename='vendor/css/bootstrap/bootstrap.css') }}">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/apexcharts@3.27.0/dist/apexcharts.min.css">
<link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css') }}">
<!-- endinject -->
<!-- Fonts -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@iconscout/unicons@4.0.8/css/line.min.css">