<!-- inject:js-->
<script src="{{url_for('static', filename='vendor/js/jquery/jquery-3.7.1.min.js')}}"></script>
<script src="{{url_for('static', filename='vendor/js/jquery/jquery-ui.js')}}"></script>
<script src="{{url_for('static', filename='vendor/js/bootstrap/bootstrap.min.js')}}"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts@3.27.0/dist/apexcharts.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.6.6/dragula.min.js" referrerpolicy="origin"></script>

<!-- endinject-->