<div class="geex-sidebar-home">
    <a href="#" class="geex-sidebar-home__close">
        <i class="uil uil-times"></i>
    </a>
    <div class="geex-sidebar-home__wrapper">
        <div class="geex-sidebar-home__header">
            <h1>FELiN</h1>
        </div>
        <nav class="geex-sidebar-home__menu-wrapper">
            <ul class="geex-sidebar-home__menu">
                <li class="geex-sidebar-home__menu__item has-children">
                    <a href="#" class="geex-sidebar-home__menu__link">
                        <span>Product</span>
                    </a>
                    <ul class="geex-sidebar-home__submenu">
                        <li class="geex-sidebar-home__menu__item">
                            <a href="/" class="geex-sidebar-home__menu__link">Campaigns</a>
                        </li>
                        <li class="geex-sidebar-home__menu__item">
                            <a href="index-2" class="geex-sidebar-home__menu__link">Ads</a>
                        </li>
                    </ul>
                </li>

                <li class="geex-sidebar-home__menu__item has-children">
                    <a href="#" class="geex-sidebar-home__menu__link">
                        <span>Pricing</span>
                    </a>
                    <ul class="geex-sidebar-home__submenu">
                        <li class="geex-sidebar-home__menu__item">
                            <a href="/" class="geex-sidebar-home__menu__link">Plans</a>
                        </li>
                        <li class="geex-sidebar-home__menu__item">
                            <a href="index-2" class="geex-sidebar-home__menu__link">Faq</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="geex-sidebar-home__footer">
            <span class="geex-sidebar-home__footer__title">Felin Marketing Control Shopping</span>
            <p class="geex-sidebar-home__footer__copyright">© 2024 All Rights Reserved</p>
            <p class="geex-sidebar-home__footer__author">Made with <span class="heart-icon">♥</span> by <a
                    href="#">themewant</a></p>
        </div>
    </div>
</div>
