<div class="geex-sidebar-home">
    <div class="geex-sidebar-home__wrapper">
        <nav class="geex-sidebar-home__menu-wrapper">
            <a href="signin" class="geex-sidebar-home__menu__home">					
                <span>Σύνδεση</span>
            </a>  
            <li class="geex-sidebar-home__menu__item geex-sidebar-home__menu__divider"></li>
            <ul class="geex-sidebar-home__menu">
                <li class="geex-sidebar-home__menu__item">
                    <span class="geex-sidebar-home__menu__heading">Προϊόντα</span>
                    <ul class="geex-sidebar-home__submenu">
                        <li class="geex-sidebar-home__submenu__item">
                            <a href="index" class="geex-sidebar-home__menu__link">Marketplace</a>
                        </li>
                        <li class="geex-sidebar-home__submenu__item">
                            <a href="index-2" class="geex-sidebar-home__menu__link">Καμπάνιες</a>
                        </li>
                        <li class="geex-sidebar-home__submenu__item">
                            <a href="index-2" class="geex-sidebar-home__menu__link">Διαφημήσεις</a>
                        </li>
                    </ul>
                </li>
                <li class="geex-sidebar-home__menu__item">
                    <span class="geex-sidebar-home__menu__heading">Λύσεις</span>
                    <ul class="geex-sidebar-home__submenu">
                        <li class="geex-sidebar-home__submenu__item">
                            <a href="pricing" class="geex-sidebar-home__menu__link">Αναλυτικά στοιχεία και πληροφορίες</a>
                        </li>
                        <li class="geex-sidebar-home__submenu__item">
                            <a href="faq" class="geex-sidebar-home__menu__link">FELiN Ads</a>
                        </li>
                        <li class="geex-sidebar-home__submenu__item">
                            <a href="faq" class="geex-sidebar-home__menu__link">Integrations</a>
                        </li>
                    </ul>
                </li>
                <li class="geex-sidebar-home__menu__item">
                    <span class="geex-sidebar-home__menu__heading">Τύποι επιχειρήσεων</span>
                    <ul class="geex-sidebar-home__submenu">
                        <li class="geex-sidebar-home__submenu__item">
                            <a href="pricing" class="geex-sidebar-home__menu__link">Ιατρεία</a>
                        </li>
                        <li class="geex-sidebar-home__submenu__item">
                            <a href="faq" class="geex-sidebar-home__menu__link">Συνεργεία</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- <div class="geex-sidebar-home__button-wrapper">
            <a href="signin" class="geex-sidebar-home__button">						
                <span>Σύνδεση</span>
            </a>        
            <a href="signup" class="geex-sidebar-home__button">						
                <span>Εγγραφή</span>
            </a>  
        </div> -->
    </div>
</div>


