<div class="geex-sidebar-home">
    <a href="#" class="geex-sidebar-home__close">
        <i class="uil uil-times"></i>
    </a>
    <div class="geex-sidebar-home__wrapper">
        <!-- <nav class="geex-sidebar-home__menu-wrapper">
            <ul class="geex-sidebar-home__menu">
                <a href="#" class="geex-sidebar-home__menu__link">
                    <span>Campaigns</span>
                </a>
                <a href="#" class="geex-sidebar-home__menu__link">
                    <span>Ads</span>
                </a>
                <a href="#" class="geex-sidebar-home__menu__link">
                    <span>Pricing</span>
                </a>
                <a href="#" class="geex-sidebar-home__menu__link">
                    <span>Faq</span>
                </a>
            </ul>
        </nav> -->
        <div class="geex-sidebar-home__button-wrapper">
            <a href="signin" class="geex-sidebar-home__button">						
                <span>Login</span>
            </a>        
            <a href="signup" class="geex-sidebar-home__button">						
                <span>Get Started</span>
            </a>  
        </div>
    </div>
</div>
