<body>
    <header class="geex-small-header-home">
        <div class="geex-small-header-home__wrapper">
            <div class="geex-small-header-home__wrapper_left">
                <h1>FELiN</h1>
                <li class="geex-header-home__menu__item has-children merchant">
                    <a href="#" class="geex-header-home__menu__link merchant">						
                        <span>Για εμπόρους</span>
                        <svg class="icon" width="800px" height="800px" viewBox="0 0 1024 1024" class="icon"  version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M903.232 256l56.768 50.432L512 768 64 306.432 120.768 256 512 659.072z" fill="#000000" /></svg>
                    </a>  
                    <ul class="geex-header-home__submenu merchant">
                        <li class="geex-header-home__submenu__item merchant">
                            <a href="#" class="geex-header-home__menu__link merchant">Για εμπόρους</a>
                        </li>
                        <li class="geex-header-home__submenu__item merchant">
                            <a href="#" class="geex-header-home__menu__link merchant">Για συνεργάτες</a>
                        </li>
                    </ul>
                </li>
            </div>
            <button class="geex-btn geex-btn__toggle-sidebar-home">
                <i class="uil uil-align-center-alt"></i>
            </button>
        </div>     
    </header>
</body>
</html>

